Cold Email AI Agent.json
{
  "name": "Cold Email AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -128
      ],
      "id": "2503df3a-7d72-41f7-9964-77457139de05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tc589k2gaMSTzqXof-KNRx2yfrOxjvZLmZlA5LQQAew",
          "mode": "list",
          "cachedResultName": "Leads list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tc589k2gaMSTzqXof-KNRx2yfrOxjvZLmZlA5LQQAew/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tc589k2gaMSTzqXof-KNRx2yfrOxjvZLmZlA5LQQAew/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -128
      ],
      "id": "082bab1f-a428-47d7-92e4-7710f03182e0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DG6YiRkIGpSErzlV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $json.Name }}\nCompany:{{ $json.Company }}\nWebsite:{{ $json.Website }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert cold email writer with 5 years experience. Your job is to generate short, personalised cold emails that propose AI and automation services to businesses. Keep the tone friendly, human generated, simple, and clear. Always personalise the email using the details provided in the user prompt. \nAvoid generic lines. Write the cold email in 4-5 lines max. Focus on how AI agents and automation can help them improve efficiency, reduce manual work, increase sales, and streamline operations. \nDo not add placeholders or brackets. Produce only the final email body with no introduction or explanation. \nAdd signature Best, AiBlend"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -128
      ],
      "id": "25117590-6047-4756-8448-609218cf8de6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\":\"subject\",\n\t\"body\":\"body\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        80
      ],
      "id": "e121959a-c522-4da3-ab1d-d53a4026bfec",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Gmail }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Aiblend"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        512,
        -128
      ],
      "id": "4d5db2f0-e0d0-4ed9-a9b0-f693ef2a0d2f",
      "name": "Send a message",
      "webhookId": "5826c83a-2205-42a7-b310-3ad1e827b42f",
      "credentials": {
        "gmailOAuth2": {
          "id": "gLhLWs9dmtNsEaiO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        80
      ],
      "id": "89d5095d-9fea-474b-98c8-f29b0facb96f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8v2JUoKMCeaHYhBG",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tc589k2gaMSTzqXof-KNRx2yfrOxjvZLmZlA5LQQAew",
          "mode": "list",
          "cachedResultName": "Leads list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tc589k2gaMSTzqXof-KNRx2yfrOxjvZLmZlA5LQQAew/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tc589k2gaMSTzqXof-KNRx2yfrOxjvZLmZlA5LQQAew/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -128
      ],
      "id": "89f9259e-1b26-44d6-9eed-bfa9baa04879",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DG6YiRkIGpSErzlV",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1c4a345-a0b4-4760-839b-2f13127887e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3e28f69346cce58f9a018ba2f8e2586c76e82662b8db2faa6f97477cdd3a365"
  },
  "id": "brKUIrFhjIKkFMDJ",
  "tags": []
}